![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banner_Top_06.06.18.jpg?raw=true)

This notebook will provide introduction to graphics in python using **matplotlib** libraray.

Please go through **Python and pandas basics** tutorial first.

In [ ]:
#load "pandas" library under short name "pd"
import pandas as pd

#we have csv file stored in the cloud - it is 10 rows of data related to Titanic
url = "https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_d22d1e3f28be45209ba8f660295c84cf/hackaton/titanic_short.csv"

#read csv file from url and save it as dataframe
titanic = pd.read_csv(url)

In [ ]:
#print data on the screen
titanic

# Basics of matplotlib

In Python there is a library of pre-defined functions to work with  graphics  - **matplotlib**.

In [ ]:
#load "matplotlib.pyplot" library under short name "plt"
import matplotlib.pyplot as plt

#command to display graphics correctly in Jupyter notebook
%matplotlib inline

## Scatter plot

In [ ]:
#use plot(kind="scatter") to create scatterplot
titanic.plot(kind="scatter",y="fare",x="age") #x and y are dataset columns

## Line plot

In [ ]:
#selecting one column of data - fare
fare = titanic[["fare"]]
fare

In [ ]:
#to create a line plot - use plot() function
#note x axis are row indices
fare.plot()

### Figure size

In [ ]:
#to change plot size use figsize argument
fare.plot(figsize=(20,7))

### Axis labels

In [ ]:
fare.plot(figsize=(20,7))

#to set axis lables use plt.xlabel() and plt.ylabel() commands
plt.xlabel('Passenger',size=16) #x axis label, font size is 16
plt.ylabel('Fare -$',size=16) #y axis label, font size is 16

---
### Exercise 1

1. Change the cell below to select only column "age" from the titanic DataFrame and make a line plot with figure size 15,5  
2. Set x axis label to "Passenger", Y axis labe to "Age"

---

In [ ]:
age = titanic[["column1"]] #modify column1 to select age
age.plot() #set figsize
#set axis labels

## Bar chart

In [ ]:
#use kind="bar" for bar charts, note x axis are row indices
fare.plot(kind="bar",figsize=(20,7))

### Bar chart: multiple bars per group

In [ ]:
#we will calculate some statistics grouped by column "sex" first
#see basics of pandas  notebook for more details

min_max = titanic[["age","sex"]].groupby("sex").agg(["min","max"])
min_max

In [ ]:
#use (kind="bar",stacked=True) to stack bars on top of each other
min_max.plot(kind="bar")

---
### Exercise 2

1. Change the cell below to calculate  min and max age grouped by "who" column
2. Cerate a bar chart of the results

---

In [ ]:
min_max_who = titanic[["age","who"]].groupby("column1").agg(["min","max"]) #change "column1" to column name
#create bar chart here

## Area plot

In [ ]:
#to create an area plot use kind="area"
min_max.plot(kind="area")

## Pie chart

In [ ]:
#number of rows grouped by "who" column
count_by_who = titanic.groupby("who").size()

count_by_who

In [ ]:
#use kind="pie" for pie charts
count_by_who.plot(kind="pie", figsize=(5,5))

#setting axis labels to blanks
plt.xlabel('') 
plt.ylabel('')

---
### Exercise 3

1. Change the cell below to calculate row number  grouped by "class" column
2. Cerate a pie chart of the results

---

In [ ]:
count_by_class = titanic.groupby("column1").size() #change "column1" to column name 

#create  a pie chart

More resources for Matplotlib plots are [here](http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot).

![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banners_Bottom_06.06.18.jpg?raw=true)