![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banner_Top_06.06.18.jpg?raw=true)

# Basics of Python
This notebook will provide basics of python and introduction to DataFrames.

To enter code in Colab we are going to use **Code Cells**.  
Click on `+Code` in the top left corner (or in between cells) to create a new Code cell.

In [ ]:
# Anything in a code cell after a pound sign is a comment! 
# You can type anything here and it will not be excecuted

In [ ]:
# Variables are defined with an equals sign (=)

my_variable = 10             # You cannot put spaces in variable names. 
other_variable = "some text" # variables need not be numbers!

# Print will output our variables below the cell
print(my_variable, other_variable)

In [ ]:
# Variables are also shared between cells. You can also pring words and sentences directly. 
print(my_variable, other_variable, "We can print text directly in quotes")

In [ ]:
# You can do mathematical operations in python

x = 5
y = 10

add = x + y

subtract = x - y

multiply = x * y

divide = x/y

print(add, subtract, multiply, divide)

---
### Exercise 1

1. In the cell below, assign variable **z** to your name and run the cell. 
2. In the cell below, write a comment on the same line where you define z. Run the cell to make sure the comment is not changing anything.
---

In [ ]:
## Enter your code in the line below
z = "your name here"

##

print(z, "is loving Python!")

# Basics of DataFrames and pandas

**DataFrame** - two-dimensional data structure, similar to a table or a spreadsheet.

In Python there is a library of pre-defined functions to work with DataFrames - **pandas**.

In [2]:
#load "pandas" library under short name "pd"
import pandas as pd

To read file in csv format the **read_csv()** function is used, it can read a file or a file from a URL.

In [3]:
#we have csv file stored in the cloud, it is 10 rows of data related to the pets for adoption
#url = "https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_d22d1e3f28be45209ba8f660295c84cf/hackaton/titanic_short.csv"
url = './pets.csv'

#read csv file from url and save it as dataframe
pets = pd.read_csv(url)

#print on the screen
pets

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5
5,Snowcone,cat,female,2,True,4,6.5,5
6,Wade,cat,male,1,False,4,3.2,1
7,Hercules,cat,male,3,False,4,13.4,2
8,Toggle,dog,female,3,True,4,48.0,1
9,Boo-boo,dog,male,11,True,4,123.0,24
10,Fritz,dog,male,4,True,4,92.0,3
11,Maple,dog,female,3,True,4,51.6,4
12,Bo,dog,male,8,True,4,76.1,10
13,Midnight,dog,female,5,False,4,112.0,4
14,Rex,dog,male,1,False,4,28.9,9
15,Gir,dog,male,8,False,4,88.0,5
16,Max,dog,male,3,False,4,52.8,8
17,Nori,dog,female,3,True,4,35.3,1
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
19,Lucky,dog,male,3,True,3,45.4,9
20,Kujo,dog,male,8,False,4,172.0,30
21,Buddy,lizard,male,2,False,4,0.3,3
22,Gila,lizard,female,3,True,4,1.2,4
23,Snuffles,rabbit,female,3,True,4,3.5,8
24,Nibblet,rabbit,male,6,False,4,4.3,2
25,Snuggles,tarantula,female,2,False,8,0.1,1
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3

In [ ]:
#shape shows number of rows and number of columns
pets

## Basic operations with DataFrames

### Select  colums  by name

In [ ]:
#Getting column names
pets

In [ ]:
#Selecting one column
pets

In [ ]:
#Selecting multiple columns
pets

In [ ]:
#Selecting first 5 rows
pets

---
### Exercise 2

1. In the cell below, uncomment the code
2. Change "column1", "column2", and "column3" to "Species", "Fixed", and "Time to Adoption (weeks)" to get these 3 columns

---

In [ ]:
#pets[["column1","column2","column3"]]

### Add a new column using existing one

In [4]:
#creating new column - mass in kilograms by dividing "Weight (lbs)" column by 2.205
pets['Mass (kg)'] = pets['Weight (lbs)']/2.205

#look at the very last column 'Mass (kg)'
pets

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
0,Sasha,cat,female,1,False,4,6.5,3,2.947846
1,Mittens,cat,female,2,True,4,7.4,1,3.356009
2,Sunflower,cat,female,5,True,4,8.1,6,3.673469
3,Sheba,cat,female,7,True,4,8.4,6,3.809524
4,Felix,cat,male,16,True,4,9.2,5,4.172336
5,Snowcone,cat,female,2,True,4,6.5,5,2.947846
6,Wade,cat,male,1,False,4,3.2,1,1.451247
7,Hercules,cat,male,3,False,4,13.4,2,6.077098
8,Toggle,dog,female,3,True,4,48.0,1,21.768707
9,Boo-boo,dog,male,11,True,4,123.0,24,55.782313
10,Fritz,dog,male,4,True,4,92.0,3,41.723356
11,Maple,dog,female,3,True,4,51.6,4,23.401361
12,Bo,dog,male,8,True,4,76.1,10,34.512472
13,Midnight,dog,female,5,False,4,112.0,4,50.793651
14,Rex,dog,male,1,False,4,28.9,9,13.106576
15,Gir,dog,male,8,False,4,88.0,5,39.909297
16,Max,dog,male,3,False,4,52.8,8,23.945578
17,Nori,dog,female,3,True,4,35.3,1,16.009070
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6,73.015873
19,Lucky,dog,male,3,True,3,45.4,9,20.589569
20,Kujo,dog,male,8,False,4,172.0,30,78.004535
21,Buddy,lizard,male,2,False,4,0.3,3,0.136054
22,Gila,lizard,female,3,True,4,1.2,4,0.544218
23,Snuffles,rabbit,female,3,True,4,3.5,8,1.587302
24,Nibblet,rabbit,male,6,False,4,4.3,2,1.950113
25,Snuggles,tarantula,female,2,False,8,0.1,1,0.045351
26,Daisy,dog,female,5,True,4,68.0,8,30.839002
27,Ada,dog,female,2,True,4,32.0,3,14.512472
28,Miaulis,cat,male,7,False,4,8.8,4,3.990930
29,Heathcliff,cat,male,1,True,4,2.1,2,0.952381
30,Tinkles,cat,female,1,True,4,1.7,3,0.770975

### Select specific colums  by condition

In [5]:
#create a condition: for example Species is dog
condition = pets["Species"]=="dog" #note == signs means "is equal" rather than assigning

condition #it shows True for rows where species is equal to dog

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26     True
27     True
28    False
29    False
30    False
Name: Species, dtype: bool

In [ ]:
#select only rows where condition is True (all dogs)
pets[condition]

In [7]:
#other examples of conditions:

#Not equal
condition1 = pets["Species"]!="dog"

#equal to one value in the list
condition2 = pets["Species"].isin(["lizard","rabbit", "tarantula"])

#Multiple conditions: "and" (Gender is "female" and age is greater than 3)
condition3 = (pets["Gender"]=="female") & (pets["Age (years)"]>3)

#Multiple conditions: "or" (Fixed is True or Legs is greater than 4)
condition4 = (pets["Fixed"]==True) | (pets["Legs"]>4)

---
### Exercise 3

1. Change the cell below to get a subset of the data where "Fixed" is equal to True and "Time to Adoption (weeks)" is less than 5

---

In [8]:
#change the conditions here
condition5 = (pets[""]== 0) | (pets[""] == 0)

pets[condition5]

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
1,Mittens,cat,female,2,True,4,7.4,1,3.356009
8,Toggle,dog,female,3,True,4,48.0,1,21.768707
10,Fritz,dog,male,4,True,4,92.0,3,41.723356
11,Maple,dog,female,3,True,4,51.6,4,23.401361
17,Nori,dog,female,3,True,4,35.3,1,16.009070
22,Gila,lizard,female,3,True,4,1.2,4,0.544218
27,Ada,dog,female,2,True,4,32.0,3,14.512472
29,Heathcliff,cat,male,1,True,4,2.1,2,0.952381
30,Tinkles,cat,female,1,True,4,1.7,3,0.770975

### Sorting

In [10]:
#sorting by age - note the ascending paramater, try changing it to False
pets.sort_values("Age (years)", ascending=True)

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
0,Sasha,cat,female,1,False,4,6.5,3,2.947846
29,Heathcliff,cat,male,1,True,4,2.1,2,0.952381
14,Rex,dog,male,1,False,4,28.9,9,13.106576
6,Wade,cat,male,1,False,4,3.2,1,1.451247
30,Tinkles,cat,female,1,True,4,1.7,3,0.770975
5,Snowcone,cat,female,2,True,4,6.5,5,2.947846
27,Ada,dog,female,2,True,4,32.0,3,14.512472
25,Snuggles,tarantula,female,2,False,8,0.1,1,0.045351
21,Buddy,lizard,male,2,False,4,0.3,3,0.136054
1,Mittens,cat,female,2,True,4,7.4,1,3.356009
23,Snuffles,rabbit,female,3,True,4,3.5,8,1.587302
22,Gila,lizard,female,3,True,4,1.2,4,0.544218
19,Lucky,dog,male,3,True,3,45.4,9,20.589569
16,Max,dog,male,3,False,4,52.8,8,23.945578
17,Nori,dog,female,3,True,4,35.3,1,16.009070
11,Maple,dog,female,3,True,4,51.6,4,23.401361
8,Toggle,dog,female,3,True,4,48.0,1,21.768707
7,Hercules,cat,male,3,False,4,13.4,2,6.077098
10,Fritz,dog,male,4,True,4,92.0,3,41.723356
13,Midnight,dog,female,5,False,4,112.0,4,50.793651
26,Daisy,dog,female,5,True,4,68.0,8,30.839002
2,Sunflower,cat,female,5,True,4,8.1,6,3.673469
24,Nibblet,rabbit,male,6,False,4,4.3,2,1.950113
3,Sheba,cat,female,7,True,4,8.4,6,3.809524
28,Miaulis,cat,male,7,False,4,8.8,4,3.990930
12,Bo,dog,male,8,True,4,76.1,10,34.512472
20,Kujo,dog,male,8,False,4,172.0,30,78.004535
15,Gir,dog,male,8,False,4,88.0,5,39.909297
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6,73.015873
9,Boo-boo,dog,male,11,True,4,123.0,24,55.782313
4,Felix,cat,male,16,True,4,9.2,5,4.172336

In [11]:
#sort by two columns - first by age and then by time to adoption
pets.sort_values(["Age (years)","Time to Adoption (weeks)"])

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
6,Wade,cat,male,1,False,4,3.2,1,1.451247
29,Heathcliff,cat,male,1,True,4,2.1,2,0.952381
0,Sasha,cat,female,1,False,4,6.5,3,2.947846
30,Tinkles,cat,female,1,True,4,1.7,3,0.770975
14,Rex,dog,male,1,False,4,28.9,9,13.106576
1,Mittens,cat,female,2,True,4,7.4,1,3.356009
25,Snuggles,tarantula,female,2,False,8,0.1,1,0.045351
21,Buddy,lizard,male,2,False,4,0.3,3,0.136054
27,Ada,dog,female,2,True,4,32.0,3,14.512472
5,Snowcone,cat,female,2,True,4,6.5,5,2.947846
8,Toggle,dog,female,3,True,4,48.0,1,21.768707
17,Nori,dog,female,3,True,4,35.3,1,16.009070
7,Hercules,cat,male,3,False,4,13.4,2,6.077098
11,Maple,dog,female,3,True,4,51.6,4,23.401361
22,Gila,lizard,female,3,True,4,1.2,4,0.544218
16,Max,dog,male,3,False,4,52.8,8,23.945578
23,Snuffles,rabbit,female,3,True,4,3.5,8,1.587302
19,Lucky,dog,male,3,True,3,45.4,9,20.589569
10,Fritz,dog,male,4,True,4,92.0,3,41.723356
13,Midnight,dog,female,5,False,4,112.0,4,50.793651
2,Sunflower,cat,female,5,True,4,8.1,6,3.673469
26,Daisy,dog,female,5,True,4,68.0,8,30.839002
24,Nibblet,rabbit,male,6,False,4,4.3,2,1.950113
28,Miaulis,cat,male,7,False,4,8.8,4,3.990930
3,Sheba,cat,female,7,True,4,8.4,6,3.809524
15,Gir,dog,male,8,False,4,88.0,5,39.909297
12,Bo,dog,male,8,True,4,76.1,10,34.512472
20,Kujo,dog,male,8,False,4,172.0,30,78.004535
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6,73.015873
9,Boo-boo,dog,male,11,True,4,123.0,24,55.782313
4,Felix,cat,male,16,True,4,9.2,5,4.172336

### Grouping and calculating summaries on groups

In [12]:
#split data into groups based on all unique values in "Fixed" column
#first group is fixed (1), second groups is not fixed (0)

#calculate average (mean) for every column for both groups
pets.groupby("Fixed").mean()

,Age (years),Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
Fixed,,,,,
False,4.384615,4.307692,50.100000,6.000000,22.721088
True,4.555556,3.944444,34.416667,5.722222,15.608466

In [ ]:
#another operations you can do on groups are
# min(), max(),  sum()

In [13]:
#you can do multiple operations at once using agg() function
pets.groupby("Legs").agg(["mean","max"])

     Age (years)         Fixed        Weight (lbs)         \
            mean max      mean    max         mean    max
Legs
3        3.00000   3  1.000000   True    45.400000   45.4
4        4.62069  16  0.586207   True    42.251724  172.0
8        2.00000   2  0.000000  False     0.100000    0.1

     Time to Adoption (weeks)      Mass (kg)
                         mean max       mean        max
Legs
3                    9.000000   9  20.589569  20.589569
4                    5.896552  30  19.161780  78.004535
8                    1.000000   1   0.045351   0.045351

---
### Exercise 4

1. Modify the cell below to  calculate **max()** for every column grouped by "Species"
---

In [15]:
#modify this cell
pets.groupby("Age (years)").mean()

,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks),Mass (kg)
Species,,,,,,
cat,4.181818,0.636364,4.000000,6.845455,3.454545,3.104515
dog,5.133333,0.600000,3.933333,79.073333,8.333333,35.860922
lizard,2.500000,0.500000,4.000000,0.750000,3.500000,0.340136
rabbit,4.500000,0.500000,4.000000,3.900000,5.000000,1.768707
tarantula,2.000000,0.000000,8.000000,0.100000,1.000000,0.045351

### Calculating number of rows by group

In [17]:
#using size() function to calculate number of rows by group
row_counts = pets.groupby("Gender").size()

#create new column "count" to store row numbers
row_counts = row_counts.reset_index(name="Count")

row_counts

   Gender  Count
0  female     15
1    male     16

---
### Exercise 5

1. Calculate the number of rows grouped by column "Species"
---

Addtional resources for Pandas and DataFrames can be found [here](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python) and 
[here](https://www.kaggle.com/grroverpr/pandas-cheatsheet).

![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banners_Bottom_06.06.18.jpg?raw=true)