![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banner_Top_06.06.18.jpg?raw=true)

# Basics of Python
This notebook will provide basics of python and introduction to DataFrames.

To enter code in Jupyter notebook we are going to use **Code Cells**.   
To create new code cell, while you have this cell selected, from the top menu click the plus (+) sign next to the save button.  

## The very Basics

To **create** new code cell, while you have this cell selected, from the top menu click the plus (+) sign next to the save button. 

To **run** the cell, use any of these options:
1. Select `Cell` $\rightarrow$ `Run Cells`
2. Hit `Shift-Enter`
3. Click the `Run` button above

To **remove** the cell   click `Edit` $\rightarrow$ `Delete Cells`.   
If you accidentally deleted an incorrect cell, you can always bring it back by clicking `Edit` $\rightarrow$ `Undo Delete Cells`.

In [ ]:
# Anything in a code cell after a pound sign is a comment! 
# You can type anything here and it will not be excecuted 

# Variables are defined with an equals sign (=)

my_variable = 10             # You cannot put spaces in variable names. 
other_variable = "some text" # variables need not be numbers!

# Print will output our variables below the cell
print(my_variable, other_variable)

In [ ]:
# Variables are also shared between cells. You can also pring words and sentences directly. 
print(my_variable, other_variable, "We can print text directly in quotes")

In [ ]:
# You can do mathematical operations in python

x = 5
y = 10

add = x + y
subtract = x - y
multiply = x * y
divide = x/y

print(add, subtract, multiply, divide)

---
### Exercise 1

1. In the cell below, assign variable z to your name and run the cell. 
2. In the cell below, write a comment on the same line where you define z. Run the cell to make sure the comment is not changing anything.
---

In [ ]:
## Enter your code in the line below
z = "your name here"

##

print(z, "is loving Python!")

# Basics of DataFrames and pandas

**DataFrame** - two-dimentional data structure(similar to a table). 

In Python there is a library of pre-defined functions to work with  DataFrames  - **pandas**.

In [ ]:
#load "pandas" library under short name "pd"
import pandas as pd

To read file in csv format - **read_csv()** function is used, it can read local files and files from URL as well.

In [ ]:
#we have csv file stored in the cloud - it is 10 rows of data related to Titanic
url = "https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_d22d1e3f28be45209ba8f660295c84cf/hackaton/titanic_short.csv"

#read csv file from url and save it as dataframe
titanic = pd.read_csv(url)

In [ ]:
#shape shows number of rows and number of columns
titanic

## Basic operations with DataFrames

### Select  rows/colums  by name and index

In [ ]:
#Getting column names
titanic

In [ ]:
#Selecting one column:
titanic

In [ ]:
#Selecting multiple columns:
titanic

In [ ]:
#Selecting first 5 rows
#try changin to head(10) or head(2)
titanic

In [ ]:
#Getting index (row names)  - note row names start at 0
titanic

In [ ]:
#Selecting one row:
titanic

In [ ]:
#Selecting multiple rows(rows 2 and 5):
titanic

In [ ]:
#Selecting rows and columns:
titanic

---
### Exercise 2

1. In the cell below, uncomment the code
2. Change "column1", "column2" and "column3" to "fare",	"age" and "class" to get these 3 columns

---

In [ ]:
#titanic[["column1","column2","column3"]]

### Add a new column using existing one

In [ ]:
#creating new column - age in months by multuplying "age" column by 12
titanic['age_months'] = titanic['age']*12

#look at the very last column 'age_months'
titanic

### Select specific colums  by condition

In [ ]:
#create a condition: for example sex equals to female
condition = titanic['sex']=="female" #note == sign

condition #it shows True for rows where sex is equal to female

In [ ]:
#select only rows where condition is True (all female)
titanic[condition]

In [ ]:
#other examples of conditions:

#Not equal:
condition1 = titanic['sex']!="female"

#equal to one value in the list:
condition2 = titanic['class'].isin(["First","Second"])

#Multiple conditions - "and" (sex is "female" and class id "First"):
condition3 = (titanic['sex']=="female") & (titanic['class']=="First")

#Multiple conditions - "or" (sex is "female" or class id "First"):
condition4 = (titanic['sex']=="female") | (titanic['class']=="First")

---
### Exercise 3

1. Change the cell below to subset only sex "female" and embark_town "Cherbourg"

---

In [ ]:
condition5 = (titanic['sex']=="female") | (titanic['class']=="First") #change the condition here


titanic[condition5]

### Sorting

In [ ]:
#sorting by pclass - note ascending paramater, try changing it to False
titanic.sort_values("pclass", ascending=True)

In [ ]:
#sort by two columns - first by pclass and then by age
titanic.sort_values(["pclass","age"])

### Grouping and calculating summaries on groups

In [ ]:
#split data into groups based on all unique values in "survived" column - 
#first group is survived(1), second groups is not survived(0)

#calculate average(mean) for every column for both groups
titanic.groupby("survived").mean()

In [ ]:
#another operations you can do on groups  are
# min(), max(),  sum()

In [ ]:
#you can do multiple operations at once using agg() function
titanic.groupby("survived").agg(["mean","max"])

---
### Exercise 4

1. Modify the cell below to  calculate max() for every column grouped by "class"
---

In [ ]:
titanic.groupby("survived").mean() ##modify this cell

### Calculating number of rows by group

In [ ]:
#using size() function to calculate number of rows by group
row_counts = titanic.groupby("sex").size()

#create new column "count" - to store row numbers
row_counts = row_counts.reset_index(name="count")

row_counts

---
### Exercise 5

1. Calculate the number of rows grouped by column "who"
---

Addtional resources for Pandas and DataFrames can be found [here](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python) and 
[here](https://www.kaggle.com/grroverpr/pandas-cheatsheet).

![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banners_Bottom_06.06.18.jpg?raw=true)