![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fhackathon&branch=master&subPath=ColonizingMars/ChallengeTemplates/challenge-option-1-should-we-colonize-Mars.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

In [1]:
# Run this cell
import interactive as i
from IPython.display import IFrame

# Best Friends in Space: Which pets should we bring to Mars? 

As one of the world's leading experts on cute animals, NASA has asked you to help decide which pets to bring onto Mars, since it might get lonely out there. In this adventure, you will learn datascience skills  and solve several challenges that will help you reach your goal. 

If you're stuck at any point, you can use [this link](https://hub.callysto.ca/jupyter/user/fbde8dcc92b359bd09845d32c52390da68637752/tree/hackathon/ColonizingMars/Tutorials) to access some tutorial notebooks. You can also check out [this](https://www.youtube.com/playlist?list=PL-j7ku2URmjZ1F3-9jvBuvsf0KcWPsxab) video series that can help you cover some basics. **Remember, to "run" a notebook cell, we can either use the button above or press `shift + enter`.** Make sure you do this in every cell that starts with `# Run this cell` and cells you write code in. If it doesn't work, try hitting the stop button (square button on the top bar) and try again.

To begin, NASA has assigned you a helper name **Rover**. Rover will provide hints along the way and help you when you get stuck. Remember that you can save this notebook by pressing `ctrl (or cmd on mac) + s` or going to `File -> Save and Checkpoint` in the toolbar. For more information see [notebook basics.](./notebook-basics.ipynb)

In [2]:
# Run this cell
i.userinfo()

 Rover: Heya! I guess we'll be working together from now on! What's your name? Lisa
 Rover:  Nice to meet you,  Lisa !

## Challenge #1: Accessing the Pet Archives

In this challenge you are tasked with using computer commands to access the Pet Archives Data which was collected by Bootstrap World. 

**Rover**: *ruff!* The first thing we should do is tell our notebook that we want to access the group of computer commands that lets us work with data. I think it was called `pandas`..?

In [34]:
# Run this cell
display(IFrame('https://www.youtube.com/embed/P6KNkb7xVjk', width=560, height=315))

In [3]:
# Run this cell
i.challenge1A()

 Rover:  According to the documents, if we want to use the commands we need to bring in a library called pandas into the notebook using some code. Try to fill in the import command.
 import pandas
Right on!

### Debrief: Functions, Libraries, and Filenames
Now that we have access to the special commands we need to access the data, let's use them! The data file they gave us is called `pets_from_bootstrap_world.csv` - the .csv at the end tells us it is a csv file. The CSV stands for "Comma Separated Values", there is a special function in the `pandas` library we can use to view this data file called `read_csv()`. 

Python is a little tricky though, and needs us to put in the code which library the function we want to use comes from. For example, if I wanted to use the `loadtxt()` function from the `numpy` library, I would have to write it like `numpy.loadtxt('file.txt')`. See how the library is first, then there is a `.`, followed by the function? We then use the function on the file by putting the filename in the brackets. The file name is surrounded by `"` `"` so that it is read as characters.

In [4]:
# Run this cell
i.challenge1B()

If I wanted to write code to access the Pets Archives from Earth, I would write:
 Rover:  Hmm, not quite. Try following the format library.function("file.csv"), or double check your spelling.
If I wanted to write code to access the Pets Archives from Earth, I would write: pandas.read_csv("pets_from_bootstrap_world.csv")
You're picking up on this really well!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5
5,Snowcone,cat,female,2,True,4,6.5,5
6,Wade,cat,male,1,False,4,3.2,1
7,Hercules,cat,male,3,False,4,13.4,2
8,Toggle,dog,female,3,True,4,48.0,1
9,Boo-boo,dog,male,11,True,4,123.0,24
10,Fritz,dog,male,4,True,4,92.0,3
11,Maple,dog,female,3,True,4,51.6,4
12,Bo,dog,male,8,True,4,76.1,10
13,Midnight,dog,female,5,False,4,112.0,4
14,Rex,dog,male,1,False,4,28.9,9
15,Gir,dog,male,8,False,4,88.0,5
16,Max,dog,male,3,False,4,52.8,8
17,Nori,dog,female,3,True,4,35.3,1
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
19,Lucky,dog,male,3,True,3,45.4,9
20,Kujo,dog,male,8,False,4,172.0,30
21,Buddy,lizard,male,2,False,4,0.3,3
22,Gila,lizard,female,3,True,4,1.2,4
23,Snuffles,rabbit,female,3,True,4,3.5,8
24,Nibblet,rabbit,male,6,False,4,4.3,2
25,Snuggles,tarantula,female,2,False,8,0.1,1
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3


# HEAD and TAIL() 
### Debrief: Functions, Libraries, and Filenames
You might notice when you view the dataset, it's the *whole* dataset. Say we wanted to only see the first few or the last few rows of the data. To do this we can use `dataset.head()`

In [10]:
pandas.read_csv("pets_from_bootstrap_world.csv").head()

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5

### Challenge Complete!
Wow, great job! You've completed the very first challenge with flying colours. Now, before moving onto the next challenge, write down the age of the pets in rows `28` (Miaulis), `15` (Gir), and `11` (Maple). **Make sure you write it somewhere that's safe, because you never know when it will come in handy! ;)**

## Challenge #2: Making Data Easy

Now that we have successfully accessed the data archives from our friends back on Earth, it's now time to explore what pets there are. This will help us get an idea of not only what our options are, but which pets can be most suitable for life on Mars. 

**Rover**: *I hope it's dogs!*

In [35]:
# Run this cell
display(IFrame('https://www.youtube.com/embed/gCcyJdQyvjo', width=560, height=315))

### Debrief: Variables

Now that we've learned how to access the data, we need to make a codeword for it to make it easier for the computer to recognize it later. In this process, we end up making what's called a variable. Think about it this way, depending on what you put on the right side of the `=` sign, the codeword's value may vary. The codeword is called a variable name, when you give it a value you can use it to mean that value in other parts of the notebook. Let's say I ran `a = 2` in a cell, now whenever I type `a` it will mean the same as 2.

In [5]:
# Run this cell
i.challenge2A()

Now, let's try assign the dataset to as a variable!
 pets =  ks
 Rover:  Try the code from the last question!

It would be very useful to assign the code used to access the `pets dataset` to a variable named `pets`. Can you do that in the cell below?

### Debrief: Selecting Data Columns

With the data now easily accessible, let's try using some cool functions from the `pandas` library to get to know our data more. You can also check out the Tutorial's [pandas cheatsheet](./pandas-dataframes.ipynb) for a whole list of things we can do.

For example, to access the values in a column, we can use `dataset_variable_name["column_name"]`. In Python `""` and `''` are the same. You can also select multiple columns like this: `dataset_variable_name[["column_name1", "column_name2"]]`. Note the double `[[ ]]`.

To list all the columns in a dataset, use `dataset_variable_name,columns` or `list(dataset_variable_name.columns)` for a list instead of an index.

Let's try it below with our pets dataset.

In [6]:
# Run this cell
i.challenge2b()

First, we will need to know what columns are in the data. We can do this by either looking at the dataset again, or use list(dataset_variable_name.columns)
 Try filling in the command:
 list(pets.columns)
Nice job!

['Name',
 'Species',
 'Gender',
 'Age (years)',
 'Fixed',
 'Legs',
 'Weight (lbs)',
 'Time to Adoption (weeks)']

In [7]:
# Run this cell
i.challenge2c()

Now that we have all the column names, let's choose a couple to look at. How about the 'Name' column?
 Select the column using dataset_variable_name["column_name"].
pets['Name']
Nice job!

0                Sasha
1              Mittens
2            Sunflower
3                Sheba
4                Felix
5             Snowcone
6                 Wade
7             Hercules
8               Toggle
9              Boo-boo
10               Fritz
11               Maple
12                  Bo
13            Midnight
14                 Rex
15                 Gir
16                 Max
17                Nori
18    Mr. Peanutbutter
19               Lucky
20                Kujo
21               Buddy
22                Gila
23            Snuffles
24             Nibblet
25            Snuggles
26               Daisy
27                 Ada
28             Miaulis
29          Heathcliff
30             Tinkles
Name: Name, dtype: object

## Challenge #3: Narrowing Down the Data

N

### Debrief: Unique Values

**Unique Values `.unique()`**: Sometimes instead of viewing all the values in a column, we just want to see the different types of values instead. For example, in this dataset it can be useful to know what types of animals there are without knowing all of them. We can do this by writing `dataset_variable_name.["column_name"].unique()`. Note the `.unique()` is at the end.

In [8]:
# Run this cell
i.challenge2d()

Now, because all the pet names are unique we should try using another column of data.
 Rover:  Hmm, how about animal types? Or better yet, the number of legs on each animal!
Fill in the command to get the unique values for the number of legs in the pets data
petlegs = pets["Legs"]== 3
 Rover:  Close! Make sure you remember the period and brackets .unique()
Fill in the command to get the unique values for the number of legs in the pets data
petlegs = pets["Legs"].unique()
I wish I was this good!

array([4, 3, 8])

### Debrief: Basic Operators and Label-based Location

**Basic Operators**: In computer programming languages, we can do a lot of things using basic math alone. With data, we can use symbols like `>, <, ==, %, /, *` and others to do cool things. For instance, if we wanted to select all entries in a dataset with a value above 5, we could do `dataset_variable_name["column_name"] >= 5`. This will give us the all of the matching data entries who's value in the column is greater or equal to 5.

We can also use words as long as they are in quotes (case-sensitive), such as `dataset_variable_name["column_name"] == "searchterm"`. The `==` means that it has to be exactly that.

**Logical Operators**: To use more than one we need to use a logical operators. For example, `&` means and, `|` (vertical bar) means or, and `~` means not. Therefore we can do something like: 

`dataset_variable_name["column_name"] >= 5 & dataset_variable_name["column_name"] < 10`

or even: 

`dataset_variable_name["column_name"] >= 5 | dataset_variable_name["column_name"] < 2 ` 

*Learn more about operators [here](https://www.w3schools.com/python/python_operators.asp).*

**Label-based Location `.loc`**: You may notice that when doing the above you only get `True/False` values. We can get the actual rows of data by using by using `dataset_variable_name.loc[label]`. Basic operators can act as labels.

For example, I can use something like: 
`dataset_variable_name.loc[dataset_variable_name["column_name"] >= 5]` to get all the rows with a value of greater than 5 for a given column.

We can also use & to have multiple basic operators

In [ ]:
pets.loc[pets["Species"] == "dog"]
pets["Species"] == "dog"

l = pets['Weight (lbs)'] >= 5
pets.loc[(pets['Weight (lbs)'] > 100) & (pets["Species"] == "dog")]

In [37]:
i.challenge2e()

Based on the output, it seems we have a 3 legged animal! Do you know any reason why that might be?
Let's try and find out which animals are 3 legged.
First, we'll need to use a basic operator on the 'Legs' column to find the ones that equal to 3.
Try filling in the command
pets['Legs'] == 3

In [ ]:
# Use label-based location to get information on the 3 legged pet. What is their name?
#========= PLACE ANSWER BELOW ===========#
pets.loc[[19]]

### Challenge Complete!

What is the name of the three legged pet? **Write it down in a safe place for later!**

## Challenge #4: Making Our Own Dataframe

Now that we have successfully accessed the data archives from our frien

### Debrief: Sorting and Subsetting

ghjkl;'

In [ ]:
def challenge3a():
    sdlfs

In [ ]:
# Sort time to adoption, age, etc. 
#========= PLACE ANSWER BELOW ===========#

In [ ]:
def challenge3b():
    sdlfs

In [ ]:
# subset species, gender, fixed, etc and assign to variable name
#========= PLACE ANSWER BELOW ===========#

In [ ]:
## code for generate and append example

#pets = pandas.read_csv("pets_from_bootstrap_world.csv")
pets_list = pets["Species"].unique()
emoji_list = ["🐈", "🐕", "🦎", "🐇", "🕷"]
for i in range(len(emoji_list)):
    pets.loc[pets["Species"] == pets_list[i], "Emoji"] = emoji_list[i]
    
pets

## Challenge #5: Visualization

Now that we have successfully accessed the data archives from our frien

In [ ]:
# Histogram of pet species, also include male/female split
#========= PLACE ANSWER BELOW ===========#

In [ ]:
# Graph the ages of the species using groupby() 
#========= PLACE ANSWER BELOW ===========#

## Challenge #6: Making Observations & Drawing a Conclusion

Now that we have successfully accessed the data archives from our frien

In [ ]:
# List 3 observations about the data you've noticed
#========= PLACE ANSWER BELOW ===========#

In [ ]:
# Which pets would you bring to Mars? Use your observations from above to justify your answer. 
#========= PLACE ANSWER BELOW ===========#

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)