ABOUT US:
Names: Trisha Joshi, Sarah Javed, Hibba Afroz
Email Addresses: saroothegreat@gmail.com, trishaj812@gmail.com , awsomehibba@gmail.com
Why did we pick this challenge: We did a hackathon in March from a different organization and we enjoyed the experience so we decided to do it again. 
Question picked: 3.

###PLEASE RUN ALL CELLS

In [1]:
###DATASET
#Picked pandas because it allows us to create charts to show our data. It seemed like the best option because it was easy to use and helped us organize our data.
import pandas as pd
from pandas import DataFrame

In [2]:
print ("the chart below shows what food is given to each family every month and the amount given")

the chart below shows what food is given to each family every month and the amount given

In [3]:
print ("the numbers in column 1 mean the following: 0 means kg of CSB+, 1 means kg of rice-maize meal, 2 means kg of beans, 3 means litres of vegetable oil, 4 means kg of salt and 5 means quarters of soup" )

the numbers in column 1 mean the following: 0 means kg of CSB+, 1 means kg of rice-maize meal, 2 means kg of beans, 3 means litres of vegetable oil, 4 means kg of salt and 5 means quarters of soup

In [4]:
###food data
Food = [10, 40, 9, 4, 1, 37]
Food

[10, 40, 9, 4, 1, 37]

In [5]:
###Food chart
Foodchart = DataFrame(data = Food, columns = ['Amount of food'])
Foodchart

   Amount of food
0              10
1              40
2               9
3               4
4               1
5              37

In [6]:
### chart explanation
print ("The chart below shows the amount of people who get rations vs. the amount of people who dont. 0 shows the people who do get it and 1 shows the people who dont get food.")

The chart below shows the amount of people who get rations vs. the amount of people who dont. 0 shows the people who do get it and 1 shows the people who dont get food.

In [7]:
###People data
People = [12000, 256000]
People

[12000, 256000]

In [8]:
###People chart
PeopleChart = DataFrame(data = People, columns = ['amount of people'])
PeopleChart

   amount of people
0             12000
1            256000

In [9]:
### The caculation below finds the percent of people who do recieve rations

12000/256000*100

4.6875

In [10]:
###This shows that about only 4.7% of people recieve rations in mozambique. 
###However, as we have seen even during this pandemic, people will hoard things
###to themselves and make life even harder for the poor. In order to combat this,
###some countries with previous food and supplies shortages have started rationing.
#This is useful as it allows everyone to have the same amount of food regardless
#of their age/ gender/ skin colour etc. and people with illnesses would receive
#more. Because we couldn't find data on the amount of people who would receive
#food without rations, we have created a fair estimate that at least 30% less 
#people would recieve food due to society issues such as: hoarding, economic
#status helping people gain food, and discrimination (racism, ageism, sexism, 
#etc.). 

###So if we use that estimate...
12000*0.7

8400.0

#This means that only 8400 people would get food in Mozambique!!!

In [11]:
###people who recieve food with and without rationing
ration_ppl = [12000, 8400]
ration_ppl

[12000, 8400]

In [12]:
###people who recieve food with and without + chart explanation
##0 means amount of people recieving food with rations and 1 means the amount of people recieving food without rations
ration_pplChart = DataFrame(data = ration_ppl, columns = ["Amount of People"])
ration_pplChart

   Amount of People
0             12000
1              8400

###OBSERVATIONS
"""Rationing is good system 
        It allows everyone to get the same amount of food (no discrimination)
        Its organized
        All the food is controlled
        Helps save money 
        Allows people who need more food (bigger families, single parents, ill patients) to get more food.
    Organization of the communities
        Communities have designated ration stations
        Families only need to send one person from the family
        Not too long lines at rationing stations

###CONCLUSION
There are 7 billion people divided into communities. Each community has about 10,000 people in it. That means there are only seven hundred thousand communities. Each community has 50 rationing stations. Every time a new ship carrying humans comes in, it also carries some food for the rationing stations. Once a month, people have to go to the rationing stations and get their food. Rationing solves the problem of not having food on Mars because people will be given food in an organized fashion with equity. Rationing on Mars is a good system if organized properly, which will be done with the communities and designated rationing stations. We understand, however, that Earth will not provide us with food forever. That is why we have created a farming system, which you will find out more about in the next paragraph.
Once everybody is on Mars, we will start having to grow our own food. Although this wasn't part of our project, we wanted to include this either way. We will do this by turning carbon dioxide and nitrogen into oxygen by zapping them with a nuclear pumped laser. It will cause a nuclear fusion between the particles turning them into oxygen. The test for turning nitrogen into oxygen was first conducted by Ernest Rutherford.  We can use this oxygen to help grow the plants. We can also collect water from the steam from volcanoes. Given these points we should be able to organize the limited amount of food on Mars to serve the community as a whole through rationing.

What we learned from the hackathon:
How to use pandas
About important scientific experiments conducted in the past 
We learned to make a somewhat fictional solution to a real world problem
Analysis Driven results:
Important data on Rationing
That Nitrogen and carbon Dioxide can be turned into Oxygen
How we might have a chance of organizing everyone and getting everyone to have food